.main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    width: 30%;
    background: #c0c0e4;
    padding: 60px 0;
    height: 500px;
    border-radius: 10px;
    height: 400px;
}
.heading {
    background: #0000ff61;
    padding: 5px 0;
}
.inner-block {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input[type="text"] {
    padding: 7px 10px;
    background: #0000ff61;
    border: none !important;
}
button.plus-button {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #0000ff61;
    color: black !important;
}
button.remove-button {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #0000ff61;
    color: black !important;
}
input[type="text"]::placeholder{
    color: black !important;
}
input[type="text"]:focus-visible{
    outline: none !important;
}
.cart-item {
    margin-top: 30px;
}
ol.items {
    font-size: 20px;
    font-weight: bold;
    padding: 0 90px;
}
.items-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
ol.items li {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
@media only screen and (max-width: 480px) {
    .main{
        width: 100%;
    }
}